.container {
    background: linear-gradient(180deg, seagreen, #d3f5df);
    box-shadow: 20px 20px 10px rgb(8, 68, 11);
    text-align: center
}

h1 {
    color: #d3f5df;
    /* syntax: offset-x | offset-y | blur-radius | color */
    text-shadow: 5px 5px 6px black;
}

h2 {
    color: rgb(38, 109, 59);
    text-shadow: 5px 5px 2px #d3f5df;
}

