html {
    font-family: serif, sans-serif;
}

body {
    /* background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #445
}

/* you can group together anything, this can be like setting the defult styles for the elements; more specific styles can be added after this */
h1, h2, h3 {
    color: #b2d0f8;
    line-height: 1rem;
    font-family: sans-serif;
}

/* parent child {} */
ul li {
    color: white;
    font-size: 20px;
}

/* only child elements one level deep would inherit the style rule */
ul > li {
    color: yellow;
}

/* .container {
    background: linear-gradient(180deg, seagreen, #d3f5df);
    box-shadow: 20px 20px 10px rgb(8, 68, 11);
    text-align: center;
} */

.borderImg {
    border: 10px dashed lightyellow;
    border-radius: 50px;
}

